@(rows: List[service.Neo4jService.Row])

@main("Food Stock") {

    @{
        if(rows.isEmpty) {
            Html("<p>Nothing found</p>")
        } else {
            rows.map {
                case service.Neo4jService.Row(s, None) => Html("<a href=" + s + ">" + s.substring(s.lastIndexOf("/") + 1) + "</a><br />")
                case service.Neo4jService.Row(s, Some(rel)) => Html(s.substring(s.lastIndexOf("/") + 1) + " - " + rel + "<br />")
                case _ => "Unknown item"
            }
        }
    }

}
